# Kubernetes cluster configuration
export KUBERNETES_VERSION=v1.30.0
export CONTROL_PLANE_MACHINE_COUNT=1
export WORKER_MACHINE_COUNT=0

# AWS region
export AWS_REGION="eu-central-1"

# AWS machine configuration
export AWS_CREATE_BASTION=true
export AWS_PUBLIC_IP=true
export AWS_CONTROL_PLANE_MACHINE_FLAVOR=t3.large
export AWS_NODE_MACHINE_FLAVOR=t3.large
export AWS_SSH_KEY_NAME=dev
