# Kubernetes cluster configuration
export KUBERNETES_VERSION=v1.31.0
export CONTROL_PLANE_MACHINE_COUNT=1
export WORKER_MACHINE_COUNT=1

# AWS region
export AWS_REGION="eu-central-1"

# AWS machine configuration
export AWS_CREATE_BASTION="true"
export AWS_PUBLIC_IP="true"
export AWS_CONTROL_PLANE_INSTANCE_TYPE="t3.large"
export AWS_NODE_INSTANCE_TYPE="t3.large"
export AWS_CONTROL_PLANE_ROOT_VOLUME_SIZE=16
export AWS_NODE_ROOT_VOLUME_SIZE=16
export AWS_SSH_KEY_NAME="default"
export AWS_AMI_ID="ami-027b534ab5d0b4886"

export AWS_CCM_IMAGE=registry.k8s.io/provider-aws/cloud-controller-manager:v1.28.3
