# Kubernetes cluster configuration
export KUBERNETES_VERSION=v1.30.0
export CONTROL_PLANE_MACHINE_COUNT=                 # e.g. 1
export WORKER_MACHINE_COUNT=

# AWS region
export AWS_REGION=""                                # e.g. "us-east-2"

# AWS machine configuration
export AWS_CREATE_BASTION=                          # e.g. "true"
export AWS_PUBLIC_IP=                               # e.g. "true"
export AWS_CONTROL_PLANE_MACHINE_FLAVOR=            # e.g. "t3.large"
export AWS_NODE_MACHINE_FLAVOR=                     # e.g. "t3.large"
export AWS_SSH_KEY_NAME=                            # e.g. "default"

export AWS_CCM_IMAGE=registry.k8s.io/provider-aws/cloud-controller-manager:v1.28.3
