name: E2E Tests

on:
  pull_request:
  workflow_dispatch:
    inputs:
      tmate_enabled:
        type: boolean
        description: Start a tmate session before running the tests
        required: false
        default: false

permissions:
  contents: read

jobs:
  build-e2e-images:
    name: Build & Run E2E Images
    runs-on: [self-hosted, linux, X64, jammy, xlarge]
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          # We run into rate limiting issues if we don't authenticate
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Install requirements
        run: |
          sudo apt update
          sudo apt install make
          sudo apt install docker-buildx
          sudo snap install kubectl --classic --channel=1.32/stable
      - name: Build provider images
        run: sudo env "PATH=$PATH" make docker-build-e2e
      - name: Save provider image
        run: |
          sudo docker save -o provider-images.tar ghcr.io/canonical/cluster-api-k8s/controlplane-controller:dev ghcr.io/canonical/cluster-api-k8s/bootstrap-controller:dev
          sudo chmod 775 provider-images.tar
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: e2e-images
          path: |
            provider-images.tar

  run-e2e-tests:
    name: Run E2E Tests
    runs-on: [self-hosted, linux, X64, jammy, xlarge]
    needs: build-e2e-images
    strategy:
      matrix:
        ginkgo_focus:
          - "KCP remediation"
          - "MachineDeployment remediation"
          - "Workload cluster creation"
          - "Workload cluster scaling"
          - "Workload cluster upgrade"
          - "Certificate Refresh"
          - "Orchestrated In place upgrades"
      # TODO(ben): Remove once all tests are running stable.
      fail-fast: false
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          # We run into rate limiting issues if we don't authenticate
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Setup LXD
        uses: canonical/setup-lxd@v0.1.3
        with:
          bridges: "lxdbr0"
      - name: Configure LXD
        run: |
          sudo ./hack/setup-lxd.sh
      - name: Install requirements
        run: |
          sudo apt update
          sudo apt install make
          sudo snap install kubectl --classic --channel=1.32/stable
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: e2e-images
          path: .
      - name: Setup bootstrap cluster
        run: |
          sudo ./hack/setup-bootstrap-cluster.sh bootstrap-cluster 1.32 ./provider-images.tar
      - name: Setup tmate session
        uses: canonical/action-tmate@main
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.tmate_enabled }}
        with:
          detached: true
      - name: Run e2e tests
        run: |
          sudo env "PATH=$PATH" GINKGO_FOCUS="${{ matrix.ginkgo_focus }}" \
           SKIP_RESOURCE_CLEANUP=true \
           USE_EXISTING_CLUSTER=true \
           make test-e2e
      - name: Change artifact permissions
        if: always()
        run: |
          sudo chown -R $USER _artifacts
      - name: Upload test artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: e2e-test-artifacts-${{ github.run_id }}-${{ env.RANDOM_STRING }}-${{ matrix.ginkgo_focus }}
          path: _artifacts
